* {
  margin: 0px;
  padding: 0px;
}
body {
  max-width: 1866px; 
}
.common-text-style {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 14px;
  line-height: 25px;
}
.common-title {
  color: #272727;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
}
.btn {
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  color: wheat;
}

/* Banner section */
.banner-container {
  display: flex;
  height: 100vh;
  background: rgba(229, 84, 115, 0.1);
  gap: 130px;
  align-items: center;
}
.banner-container-text {
  margin-left: 200px;
  width: 750px;
  margin-top: 230px;
}
.banner-title {
  font-family: "Lato";
  color: #272727;
  font-size: 58px;
  font-weight: bolder;
}
#banner-p {
  width: 500px;
  margin: 30px 0px;
}
.banner-image {
  width: 600px;
  height: 800px;
  margin-right: 200px;
  padding-top: 35px;
}

/* Our Featured Flowers */

.fetuared-container-text {
  text-align: center;
  padding-top: 170px;
  width: 400px;
  margin: auto;
}

.div1 {
  display: flex;
  align-items: center;
  border-radius: 300px 300px 0px 0px;

  width: 350px;
  height: 420px;
}
.div1 > img {
  width: 220px;
  margin-left: 55px;
  margin-top: 110px;
}
.featured-p {
  margin-left: 90px;
  margin-top: 20px;
}

.our-featured-flowers {
  display: flex;
  justify-content: space-around;
  margin: 50px 200px 30px 200px;
}
#f1 {
  background-color: rgba(167, 33, 98, 0.15);
}
#f2 {
  background-color: rgba(5, 151, 160, 0.15);
}
#f3 {
  background-color: rgba(71, 125, 17, 0.15);
}

/* optional section */
.optional-container {
  display: flex;
  width: 1400px;
  height: 200px;
  justify-content: space-around;
  background-color: rgba(39, 39, 39, 0.05);
  margin: 120px 200px 0px 200px;
  margin: auto;
}
.optional-1 {
  text-align: center;
  margin-top: 60px;
}

/* Hot-Deal-Text */
.hot-deal-text {
  text-align: center;
  width: 500px;
  margin-left: 200px;
  margin-top: 230px;
}
.hot-deal-container {
  border-radius: 8px;
  background: rgba(229, 84, 115, 0.05);
  display: flex;
  justify-content: space-around;
  height: 550px;
  margin-top: 120px;
}
.hot-deal-img {
  width: 300px;
  height: 400px;
  margin: 100px 400px 100px 180px;
}

/* instagaram section */
.instagram-text {
  text-align: center;
  width: 470px;
  margin-top: 120px;
  margin: auto;
}
#insta {
  margin: 20px 0px 50px 0px;
}

.instagram-container {
  width: 1350px;
  margin: auto;
}
.insta-img {
  padding: 5px;
  width: 320px;
}

.deal-container {
  width: 1325px;
  height: 400px;
  margin: auto;
  background-color: #fff;
  margin-top: 100px;
}
.deal-container-image {
  width: 100%px;
  height: 400px;
  text-align: center;
  padding-top: 50px;
  background-image: url("./Flower Asset/Rectangle 9.png");
}

.from {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  width: 600px;
  font-size: 16px;
  height: 50px;
  border-radius: 10px;
  border: none;
}
footer {
  max-width: 1866px;
  height: 250px;
  background-color: #111010;
  margin-top: 150px;
  text-align: center;
  color: aliceblue;
  padding: 50px;
}
.common-title-f {
  color: white;
  font-family: Lato;
  font-size: 40px;
}
/* list of products-section */
.list-f-products {
  background-image: url("./Flower Asset/background.jpg"),
    linear-gradient(rgb(222, 251, 5, 0.7), rgb(241, 155, 155, 1));
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-blend-mode: overlay;
}

.list-of-products-container {
  display: flex;
  width: 1325px;
  padding-top: 30px;
  margin: auto;
}
.ordar-form {
  width: 700px;
  border: none;
  padding-bottom: 10px;
  border-radius: 20px;
}

span {
  color: #e55473;
}

/* Table section */
table {
  border-collapse: collapse;
  border-top: 5px solid rgb(242, 160, 88);
  width: 700px;
  height: 400px;
  text-align: center;
  border-radius: 10px;
}

tr > td {
  border: 5px solid rgb(253, 255, 193);
  padding: 10px;
}
.td-rose {
  background-image: url("./Flower Asset/rose.jpg");
  background-size: cover;
  background-position: center;
}
.td-lily {
  background-image: url("./Flower Asset/lilies.jpg");
  background-size: cover;
  background-position: center;
}
.td-iris {
  background-image: url("./Flower Asset/narcissus.jpg");
  background-size: cover;
  background-position: center;
}

fieldset {
  text-align: center;
}
#name,
#mail,
#pas,
#number,
#adress {
  color: rgba(39, 39, 39, 0.6);
  font-family: Lato;
  font-size: 16px;
  width: 400px;
  font-size: 16px;
  height: 50px;
  border-radius: 10px;
  border: none;
}
#submit,
#reset {
  border: none;
  border-radius: 8px;
  background: #e55473;
  padding: 20px 40px;
  color: white;
}
